html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #FFFFFF;
  box-shadow: 0 4px 28px rgba(172, 114, 147, 0.5);
}
.header__body {
  position: relative;
  margin: auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  z-index: 2;
  max-width: 1280px;
}
.header__logo {
  margin: auto 20px;
  z-index: 2;
}
.header__logo img {
  width: 100px;
}
.header__menu {
  display: flex;
  align-items: center;
  transition: 500ms;
}
.header__menu_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.header__menu_link {
  display: flex;
  align-items: center;
}
.header__menu_item {
  display: inline-block;
  padding: 3px 25px 3px;
  color: #4d2140;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
}
.header__phone {
  margin: 0 20px 0 20px;
  color: #4d2240;
  font-size: 17px;
  line-height: 1;
  background: url("/img/bot-phone-icon.png") no-repeat 0 center;
  padding: 9px 0 10px 35px;
  flex: 0 0 auto;
}
.header__phone a {
  color: #4d2240;
  text-decoration: none;
}
.header .korzina {
  margin: 0 0 0 15px;
  cursor: pointer;
}
.header .korzina__basket {
  display: flex;
  align-items: flex-start;
  margin: 7px 0 0;
  text-decoration: none;
}
.header .korzina__basket_logo {
  position: relative;
  width: 48px;
  height: 53px;
  margin: 0 11px 0 0;
  background: url("/img/korzina.png") no-repeat 0 0;
  flex: 1 0 auto;
}
.header .korzina__basket_count {
  position: relative;
  left: -20px;
  min-width: 17px;
  height: 17px;
  padding: 0 5px;
  background: #d74d9b;
  font-size: 12px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  border-radius: 8.5px;
}
@media (max-width: 1000px) {
  .header .header__menu_item {
    display: block;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #d64f9b;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
  }
  .header .header__menu {
    display: none;
  }
  .header .header__menu_link {
    width: 25%;
    flex-grow: 1;
    margin: 0 5px;
  }
}
@media (max-width: 460px) {
  .header .header__menu_link {
    width: auto;
    flex-grow: 1;
    margin: 0 2px;
  }
  .header .header__menu_item {
    padding: 5px;
    font-size: 11px;
    font-weight: normal;
  }
}
@media (min-width: 1000px) {
  .header .header__menu-mobile {
    display: none;
  }
}

.header__menu_item-activ {
  color: #d74d9b;
  background: url(/img/mt-h-bg.png) no-repeat 0 0;
}

body {
  background: url("/img/back.png");
  font-family: "Poppins", sans-serif;
  color: #4d2240;
}

body.lock {
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.catalog {
  margin-top: 180px;
}
.catalog__img {
  margin: 0 20px;
}
.catalog__img img {
  max-width: 100%;
}
.catalog__sale {
  max-width: 100%;
  margin: 80px 20px;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(187, 39, 66);
  text-align: center;
  line-height: 100px;
}
.catalog__sale p {
  color: white;
  font-size: 40px;
}

@media (max-width: 680px) {
  .catalog__sale p {
    font-size: 20px;
  }
}
.catalog__wrapper {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog__item {
  width: 30%;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 4px 38px rgba(172, 114, 147, 0.71);
  margin-bottom: 42px;
}
.catalog__item_header {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(187, 39, 66);
  border-radius: 15px 15px 0 0;
}
.catalog__item_header span {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
}
.catalog__item_img img {
  height: 415px;
}
.catalog__item_bottom {
  padding: 5px 8px 9px;
  display: flex;
  flex-wrap: wrap;
}
.catalog__item_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 8px 0 8px;
}

.catalog__wrapper-activ {
  display: flex;
}

@media (max-width: 1000px) {
  .catalog__item {
    width: 46%;
    margin: 0 2% 40px;
  }
  .catalog__item_img img {
    height: calc((92vw - 60px) / 2);
  }
}
@media (max-width: 800px) {
  .catalog__item {
    width: 100%;
    margin: 0 0 40px;
  }
  .catalog__wrapper {
    max-width: 400px;
    margin: 0 auto;
  }
  .catalog__item_img img {
    height: 400px;
  }
}
.bottom__for {
  display: flex;
  width: 50%;
  margin-bottom: 13px;
  align-items: center;
}
.bottom__for_icon {
  background: url("/img/ic1.png") center center/16px no-repeat;
  background-size: 25px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #d6549c;
  margin-right: 7px;
  flex-shrink: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.bottom__for_icon-2 {
  background: url("/img/ic2.png") center center/16px no-repeat;
  background-size: 16px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #d6549c;
  margin-right: 7px;
  flex-shrink: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.bottom__for_icon-3 {
  background: url("/img/ic3.png") center center/16px no-repeat;
  background-size: 21px 18px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #d6549c;
  margin-right: 7px;
  flex-shrink: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.bottom__for_icon-4 {
  background: url("/img/ic4.png") center center/16px no-repeat;
  background-size: 21px;
  border-radius: 50%;
  position: relative;
  border: 1px solid #d6549c;
  margin-right: 7px;
  flex-shrink: 0;
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
.bottom__for_text {
  font-size: 13px;
}
.bottom__for_text span {
  display: inline-block;
  background: #561d3f;
  color: #fff;
  padding: 2px 3px 3px;
  border-radius: 5px;
  line-height: 1;
  margin-bottom: 3px;
}

.bottom__for_icon:nth-child(2) {
  background: url("/img/ic2.png") no-repeat center center;
  background-size: 16px;
}

.price__bl {
  margin-top: -6px;
}
.price__bl_old {
  font-size: 18px;
  line-height: 1;
  color: #43494b;
  text-align: center;
  margin: 0 0 5px;
  text-decoration: line-through;
}
.price__bl_new {
  color: #d74d9b;
  text-align: center;
  line-height: 1;
  margin: 0 0 14px;
  font-size: 28px;
}

.button {
  font-size: 24px;
  padding: 0;
  background-color: rgb(187, 39, 66);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  width: 50%;
  max-width: 190px;
  height: 48px;
  color: white;
  text-align: center;
  line-height: 48px;
  border: none;
}

.delivery {
  background: #ffdbe6;
  margin-top: 40px;
}
.delivery__list {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding-bottom: 67px;
  padding-top: 67px;
}
.delivery__list_item {
  width: 29%;
  text-align: center;
}
.delivery__list_item-img {
  margin-bottom: 20px;
}
.delivery__list_item-text {
  font-size: 26px;
  text-align: center;
  color: #4d2240;
}
.delivery__list_item-time {
  text-align: center;
  font-size: 16px;
  line-height: 1;
}

.title {
  text-align: center;
  font-style: italic;
  padding-top: 67px;
  font-size: 54px;
  line-height: 1;
  font-weight: normal;
  color: #4d2240;
}

@media (max-width: 600px) {
  .delivery__list {
    flex-direction: column;
    align-items: center;
  }
  .delivery__list_item {
    width: 90%;
    margin-bottom: 40px;
  }
}
.reviews {
  background: #ffe9f0;
}
.reviews__list {
  display: flex;
  justify-content: space-around;
  margin: 0 20px;
  padding-bottom: 67px;
  padding-top: 67px;
}
.reviews__list_item {
  width: 29%;
  text-align: center;
}

@media (max-width: 1000px) {
  .reviews__list {
    flex-direction: column;
    align-items: center;
  }
  .reviews__list_item {
    width: 90%;
    margin-bottom: 40px;
  }
}
.footer {
  background-color: rgb(187, 39, 66);
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer a {
  font-size: 14px;
  color: white;
  display: block;
  padding: 5px 0 0;
}

/* Flex-related code */
/* -------------------------------- 
Main Components 
-------------------------------- */
.cd-cart-container::before {
  /* dark bg layer visible when the cart is open */
  content: "";
  position: fixed;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s;
}

.cd-cart-container.cart-open::before {
  opacity: 1;
  visibility: visible;
}

.cd-cart-trigger,
.cd-cart {
  position: fixed;
  bottom: 20px;
  right: 5%;
  transition: transform 0.2s;
  /* Force Hardware Acceleration in WebKit */
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
}

.empty .cd-cart-trigger, .empty .cd-cart {
  /* hide cart */
  transform: translateY(150px);
}

@media only screen and (min-width: 1170px) {
  .cd-cart-trigger,
  .cd-cart {
    bottom: 40px;
  }
}
.cd-cart-trigger {
  /* button that triggers the cart content */
  z-index: 3;
  height: 72px;
  width: 72px;
  /* replace text with image */
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

.cd-cart-trigger::after, .cd-cart-trigger::before {
  /* used to create the cart/'X' icon */
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
  height: 100%;
  width: 100%;
  background: url("/img/korzina.png") no-repeat center center;
  transition: opacity 0.2s, transform 0.2s;
}

.cd-cart-trigger::after {
  /* 'X' icon */
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

.cart-open .cd-cart-trigger::before {
  opacity: 0;
}

.cart-open .cd-cart-trigger::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count {
  /* number of items indicator */
  position: absolute;
  top: -10px;
  right: -10px;
  height: 28px;
  width: 28px;
  background: #e94b35;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  text-indent: 0;
  transition: transform 0.2s 0.5s;
}

.cd-cart-trigger .count li {
  /* this is the number of items in the cart */
  position: absolute;
  transform: translateZ(0);
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

.cd-cart-trigger .count li:last-of-type {
  visibility: hidden;
}

.cd-cart-trigger .count.update-count li:last-of-type {
  animation: cd-qty-enter 0.15s;
  animation-direction: forwards;
}

.cd-cart-trigger .count.update-count li:first-of-type {
  animation: cd-qty-leave 0.15s;
  animation-direction: forwards;
}

.cart-open .cd-cart-trigger .count {
  transition: transform 0.2s 0s;
  transform: scale(0);
}

.empty .cd-cart-trigger .count {
  /* fix bug - when cart is empty, do not animate count */
  transform: scale(1);
}

.cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 6px 40px rgba(0, 0, 0, 0.3);
}

.cart-open .cd-cart-trigger:hover + div .wrapper {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
}

.cd-cart {
  /* cart content */
  z-index: 2;
  width: 90%;
  max-width: 440px;
  height: 400px;
  max-height: 90%;
  pointer-events: none;
}

.cd-cart .wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
  height: 72px;
  width: 72px;
  border-radius: 15px;
  transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
  background: #ffffff;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
  pointer-events: auto;
}

.cd-cart header, .cd-cart footer {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}

.cd-cart header, .cd-cart .body {
  opacity: 0;
}

.cd-cart header {
  top: 0;
  border-radius: 6px 6px 0 0;
  padding: 0 0 0 0;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  transition: opacity 0.2s 0s;
  border-bottom: 1px solid #e6e6e6;
}

.cd-cart header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart footer {
  bottom: 0;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.cd-cart h2 {
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding-left: 10px;
}

.cd-cart .undo {
  float: right;
  font-size: 1.2rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
  color: #808b97;
}

.cd-cart .undo a {
  text-decoration: underline;
  color: #2b3e51;
}

.cd-cart .undo a:hover {
  color: #2c97de;
}

.cd-cart .undo.visible {
  opacity: 1;
  visibility: visible;
  padding-right: 10px;
  font-size: 18px;
}

.cd-cart .checkout {
  display: block;
  height: 72px;
  line-height: 72px;
  margin-right: 72px;
  background-color: rgb(187, 39, 66);
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.2s 0s;
  font-size: 1rem;
}

.cd-cart .checkout em {
  position: relative;
  display: inline-block;
  transform: translateX(40px);
  transition: transform 0s 0.2s;
}

.cd-cart .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  transform: translateY(-50%);
  right: 0;
  content: "";
  height: 24px;
  width: 24px;
  background: url("/img/korzina.png") no-repeat center center;
  opacity: 0;
  transition: opacity 0.2s;
}

.cd-cart .body {
  position: relative;
  z-index: 1;
  height: calc(100% - 40px);
  padding: 20px 0 10px;
  margin: 40px 0 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.2s;
}

.cd-cart .body ul {
  overflow: hidden;
  padding: 0 1.4em;
  position: relative;
  padding-bottom: 90px;
}

.cd-cart .body li {
  position: relative;
  opacity: 0;
  transform: translateX(80px);
  transition: opacity 0s 0.2s, transform 0s 0.2s;
}

.cd-cart .body li::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .body li:not(:last-of-type) {
  margin-bottom: 20px;
}

.cd-cart .body li.deleted {
  /* this class is added to an item when it is removed form the cart */
  position: absolute;
  left: 1.4em;
  width: calc(100% - 2.8em);
  opacity: 0;
  animation: cd-item-slide-out 0.3s forwards;
}

.cd-cart .body li.deleted.undo-deleted {
  /* used to reinsert an item deleted from the cart when user clicks 'Undo' */
  animation: cd-item-slide-in 0.3s forwards;
}

.cd-cart .body li.deleted + li {
  animation: cd-item-move-up-mobile 0.3s;
  animation-fill-mode: forwards;
}

.cd-cart .body li.undo-deleted + li {
  animation: cd-item-move-down-mobile 0.3s;
  animation-fill-mode: forwards;
}

.cd-cart .product-image {
  display: inline-block;
  float: left;
  /* the image height determines the height of the list item - in this case height = width */
  width: 50px;
}

.cd-cart .product-image img {
  display: block;
  width: 80px;
}

.cd-cart .product-details {
  position: relative;
  display: inline-block;
  float: right;
  padding: 16.4px 0 0 0px;
  width: calc(100% - 97px);
}

.cd-cart .product-details::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart h3, .cd-cart .price {
  font-weight: bold;
}

.cd-cart h3 {
  width: 70%;
  float: left;
  /* truncate title with dots if too long */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cd-cart h3 a {
  color: #2b3e51;
}

.cd-cart h3 a:hover {
  color: #2c97de;
}

.cd-cart .price {
  float: right;
  width: 30%;
  text-align: right;
}

.cd-cart .actions {
  font-size: 1.4rem;
  height: 1.6em;
  line-height: 1.6em;
}

.cd-cart .actions::after {
  clear: both;
  content: "";
  display: block;
}

.cd-cart .delete-item, .cd-cart .quantity {
  float: left;
  color: #808b97;
  backface-visibility: hidden;
}

.cd-cart .delete-item {
  margin-right: 1em;
  cursor: pointer;
}

.cd-cart .delete-item:hover {
  color: red;
}

.cd-cart .quantity label {
  display: inline-block;
  margin-right: 0.3em;
}

.cd-cart .select {
  position: relative;
}

.cd-cart .select::after {
  /* switcher arrow for select element */
  content: "";
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: url(../img/cd-icon-select.svg) no-repeat center center;
  pointer-events: none;
}

.cd-cart select {
  position: relative;
  padding: 0 1em 0 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font-size: 1.4rem;
  margin: 0;
  color: #808b97;
}

.cd-cart select:focus {
  outline: none;
  color: #2b3e51;
  box-shadow: 0 1px 0 currentColor;
}

.cd-cart select::-ms-expand {
  /* hide default select arrow on IE */
  display: none;
}

.cart-open .cd-cart .wrapper {
  height: 100%;
  width: 100%;
  transition-delay: 0s;
}

.cart-open .cd-cart header, .cart-open .cd-cart .body {
  opacity: 1;
}

.cart-open .cd-cart header {
  transition: opacity 0.2s 0.2s;
}

.cart-open .cd-cart .body {
  transition: opacity 0s;
}

.cart-open .cd-cart .body li {
  transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
  opacity: 1;
  transform: translateX(0);
}

.cart-open .cd-cart .body li:nth-of-type(2) {
  transition-duration: 0.4s;
}

.cart-open .cd-cart .body li:nth-of-type(3) {
  transition-duration: 0.5s;
}

.cart-open .cd-cart .body li:nth-of-type(4), .cart-open .cd-cart .body li:nth-of-type(5) {
  transition-duration: 0.55s;
}

.cart-open .cd-cart .checkout {
  color: #ffffff;
  transition: color 0.2s 0.3s;
}

.cart-open .cd-cart .checkout em {
  transform: translateX(0);
  transition: transform 0.2s 0.3s, padding 0.2s 0s;
}

@media only screen and (min-width: 768px) {
  .cd-cart .body li:not(:last-of-type) {
    margin-bottom: 14px;
  }
  .cd-cart .body li.deleted + li {
    animation: cd-item-move-up 0.3s;
  }
  .cd-cart .body li.undo-deleted + li {
    animation: cd-item-move-down 0.3s;
  }
  .cd-cart .checkout {
    font-size: 26px;
  }
  .cd-cart .product-image {
    width: 50px;
  }
  .cd-cart .product-details {
    padding: 13.4px 0 0 0px;
    width: calc(100% - 90px);
  }
  .cd-cart h3, .cd-cart .price {
    font-size: 1.8rem;
  }
}
@keyframes cd-qty-enter {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
}
@keyframes cd-qty-leave {
  0% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-50%);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) translateY(-100%);
  }
}
@keyframes cd-item-move-up-mobile {
  0% {
    padding-top: 70px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-up {
  0% {
    padding-top: 104px;
  }
  100% {
    padding-top: 0px;
  }
}
@keyframes cd-item-move-down-mobile {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 70px;
  }
}
@keyframes cd-item-move-down {
  0% {
    padding-top: 0px;
  }
  100% {
    padding-top: 104px;
  }
}
@keyframes cd-item-slide-out {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(80px);
    opacity: 0;
  }
}
@keyframes cd-item-slide-in {
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  0% {
    transform: translateX(80px);
    opacity: 0;
  }
}
/*11111111111111111111111111111111111111111*/
/*---------- CARDS LAYOUT ----------*/
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  margin-top: 0;
  padding: 0 1em 2em;
}

.no-flexbox .cards_item {
  float: left;
}

@media screen and (min-width: 42em) and (max-width: 60em) {
  .cards_item {
    width: 50%;
  }
  .no-flexbox .cards_item:nth-child(2n+1) {
    clear: both;
  }
}
@media screen and (min-width: 60em) {
  .cards_item {
    width: 33.3333%;
  }
  .no-flexbox .cards_item:nth-child(3n+1) {
    clear: both;
  }
}
.article {
  display: flex;
  justify-content: space-around;
  margin-top: 140px;
}
.article__slider {
  width: 45%;
}
.article__slider img {
  max-width: 100%;
}
.article__cart {
  margin-top: 40px;
}
.article__cart_name {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.article__cart_wrapper {
  display: flex;
}
.article__cart_wrapper-charac {
  margin: 20px;
}
.article__cart_wrapper-size {
  margin: 20px;
}
.article__cart_price {
  margin-top: 40px;
  width: 100%;
  background-color: white;
  border-radius: 15px;
  height: 60px;
  text-align: center;
}
.article__cart_price span {
  font-weight: 700;
  font-size: 44px;
  color: rgb(187, 39, 66);
  line-height: 60px;
}
.article__cart_button {
  margin-top: 20px;
  width: 100%;
  font-size: 24px;
  padding: 0;
  background-color: rgb(187, 39, 66);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 40px;
  height: 48px;
  color: white;
  text-align: center;
  line-height: 48px;
  border: none;
}

@media (max-width: 1000px) {
  .article {
    flex-direction: column;
    align-items: center;
  }
}
.charac {
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.5);
}

td {
  font-size: 16px;
  letter-spacing: -0.4px;
  line-height: 22px;
  color: #334669;
  font-family: "Lato";
  padding: 0.25rem;
  border: 2px solid #fff;
}

th {
  background: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.4px;
  padding: 0.25rem;
  color: #334669;
  font-family: "Lato";
  line-height: 22px;
  border: 2px solid #fff;
}

h6 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  margin: 0 0 3px !important;
  padding: 0 !important;
  color: #334669;
}

.main-form input.field {
  position: relative;
  display: block;
  outline: 0;
  border: none;
  -webkit-border-radius: 10px;
  width: 100%;
  height: 75px;
  line-height: 75px;
  margin: 0 auto 15px;
  background: #fff;
  text-align: center;
  font-weight: 400;
  height: 70px;
  font-size: 16px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #747474;
  border-radius: 20px;
  margin-bottom: 10px;
}

.formbox {
  display: none;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15);
  max-width: 440px;
  margin: 30px auto 0;
  border-radius: 20px;
  padding: 30px;
  background-color: white;
}

.formbox-text {
  text-align: center;
  margin-bottom: 30px;
  color: black;
}

.formbox-text span {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2em;
  display: block;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.formbox-text p {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  padding: 0 20px;
}

.pay {
  font-size: 24px;
  padding: 0;
  background-color: rgb(187, 39, 66);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  width: 100%;
  height: 48px;
  color: white;
  text-align: center;
  line-height: 48px;
  border: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(17, 17, 17, 0.5);
  transition: all 0.5s ease;
  display: none;
  z-index: 100;
}

.popup_open {
  display: block;
}

.popup__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  max-width: 588px;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.formbox_open {
  display: block;
}

.close-button {
  border: none;
  background: none;
  position: absolute;
  top: 41px;
  left: 480px;
}

.close-button img {
  width: 30px;
}