*, *::before, *::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
   margin: 0 !important;
   padding: 0;
   width: 100%;
   overflow-x: hidden;
}
body {
   width: 100%;
   font-weight: 400;
   font-family: $font-primary;
   background-color: $white;
   @include text-extrasmall;
   margin: 0;
   padding: 0;
   color: $dark;
   @media #{$mobile} {
      @include text-small;
   }
   &.prevent-scroll {
      overflow: hidden;
   }
}
a {
   text-decoration: none;
   transition: color 0.2s ease-out;
   cursor: pointer;
}
p {
   margin: 15px 0;
   @media #{$sTablet} {
      margin: 20px 0;
   }
}
strong, b {
   font-weight: 700;
}
img {
   max-width: 100%;
}

hr {
   width: 100%;
   height: 1px;
   background-color: $primary;
}

.no-margin-top {
   margin-top: 0 !important;
}